.intro {
  padding: 30px 0;
  background-image: url("/images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.intro-catalog {
  min-height: 50vh;
}
.intro a {
  color: #fff;
}
.intro-header__info {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.intro-header__info a {
  color: #fff;
}
.intro-header__info img {
  width: 100%;
  max-width: 250px;
}
.intro-header__info-mail img {
  width: 47px;
  max-height: 100%;
  margin-right: 5px;
}
.intro-header__info-address img {
  max-width: 47px;
  max-height: 47px;
  margin-right: 5px;
}
.intro-header__info-btn {
  background-color: #223E58;
  transition: 0.15s ease-in-out;
  border-radius: 16px;
  text-align: center;
  padding: 8px 10px;
  font-size: 16px;
}
.intro-header__info-btn:hover {
  background-color: #295DA4;
}
.intro-header__info-shopcart {
  max-width: 48px;
  height: 100%;
  position: relative;
}
.intro-header__info-shopcart__num {
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: #295DA4;
  color: #fff;
  border-radius: 50%;
  padding: 0 5px;
}
.intro-header__nav {
  margin-top: 65px;
}
.intro-header__nav-catalog {
  position: relative;
}
.intro-header__nav-catalog:hover .catalog-list {
  visibility: visible;
}
.intro-header__nav-catalog .catalog-list {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(41, 92, 164, 0.937254902);
  border-radius: 10px;
  padding: 150px 10px;
  flex-wrap: wrap;
  min-width: 320px;
}
@media screen and (max-width: 1400px) {
  .intro-header__nav-catalog .catalog-list {
    padding: 70px 10px;
    min-width: 260px;
  }
}
.intro-header__nav-catalog .catalog-list__item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.3%;
  padding: 15px;
}
@media screen and (max-width: 1400px) {
  .intro-header__nav-catalog .catalog-list__item {
    padding: 5px;
    font-size: 12px;
  }
  .intro-header__nav-catalog .catalog-list__item img {
    width: 26px;
    margin-bottom: 5px;
  }
}
.intro-header__nav-catalog .catalog-list__item img {
  max-width: 36px;
  height: 100%;
  margin-bottom: 10px;
}
.intro-header__nav-catalog .catalog-list.active {
  visibility: visible;
}
.intro-header__nav-catalog .burger-catalog.active span {
  background-color: transparent;
}
.intro-header__nav-catalog .burger-catalog.active span::before {
  width: 40px;
  transform: rotateZ(45deg) translateY(0);
}
.intro-header__nav-catalog .burger-catalog.active span::after {
  width: 40px;
  transform: rotateZ(-45deg) translateY(0);
}
.intro-header__nav-catalog a {
  font-size: 20px;
  font-weight: 600;
  z-index: 1000;
}
.intro-header__nav-bar {
  padding: 0;
  background-color: #fff;
  border-radius: 26px;
}
.intro-header__nav-bar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
.intro-header__nav-bar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #295DA4;
  border-radius: 26px;
  height: 100%;
}
.intro-header__nav-bar__links a {
  margin: 15px;
}
.intro-header__nav-bar__search {
  cursor: pointer;
  display: flex;
  padding: 0 10px;
}
.intro-header__nav-bar__search input {
  margin-right: 10px;
  width: 320px;
  border: 0;
}
.intro-header__nav-bar__search input:focus {
  outline: 0;
}
.intro-header__nav-bar__search img {
  width: 38px;
  height: 38px;
}
.intro-content {
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  margin-top: 15vh;
  color: #fff;
}
.intro-content-catalog {
  margin-top: 10vh;
}
.intro-content__title {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 10px;
}
.intro-content__subtitle {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}
.intro-content__btn {
  background-color: #223E58;
  font-weight: 600;
  font-size: 24px;
  border-radius: 22px;
  padding: 20px 24px;
  transition: 0.15s ease-in-out;
}
.intro-content__btn:hover {
  background-color: #295DA4;
}
.intro-mobile {
  display: none;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.intro-mobile__logo {
  max-width: 260px;
}
.intro-mobile .burger-menu {
  transform: rotate(180deg);
  z-index: 10;
}
.intro-mobile .burger-menu span {
  display: block;
  width: 36px;
  height: 3px;
  background-color: #fff;
  margin-right: 15px;
}
.intro-mobile .burger-menu span::after, .intro-mobile .burger-menu span::before {
  content: "";
  display: block;
  height: 3px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.15s ease-in-out;
}
.intro-mobile .burger-menu span::before {
  transform: translateY(-12px);
  width: 20px;
}
.intro-mobile .burger-menu span::after {
  transform: translateY(12px);
  margin-top: -2px;
  width: 30px;
}

.mobile__menu {
  transition: ease-in-out all 0.4s;
  position: absolute;
  right: 0;
  top: -300%;
}

@media screen and (max-width: 1400px) {
  .intro {
    padding: 15px 0;
  }
  .intro-catalog {
    max-height: 40vh;
  }
  .intro-header__info {
    font-size: 12px;
  }
  .intro-header__info img {
    width: 100%;
    max-width: 180px;
  }
  .intro-header__info-mail img {
    width: 36px;
  }
  .intro-header__info-address img {
    max-width: 36px;
    max-height: 36px;
  }
  .intro-header__info-btn {
    padding: 6px 0;
    font-size: 12px;
  }
  .intro-header__nav {
    margin-top: 45px;
  }
  .intro-header__nav-catalog a {
    font-size: 14px;
  }
  .intro-header__nav-bar a {
    font-size: 14px;
  }
  .intro-header__nav-bar__links a {
    margin: 0 15px;
  }
  .intro-header__nav-bar__search {
    display: flex;
    padding: 0 10px;
  }
  .intro-header__nav-bar__search input {
    margin-right: 10px;
    width: 340px;
  }
  .intro-header__nav-bar__search img {
    width: 30px;
    height: 30px;
  }
  .intro-content {
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    margin-top: 25vh;
    color: #fff;
  }
  .intro-content-catalog {
    margin-top: 10vh;
  }
  .intro-content__title {
    font-size: 58px;
    margin-bottom: 10px;
  }
  .intro-content__subtitle {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .intro-content__btn {
    font-size: 16px;
    padding: 16px 28px;
    transition: 0.15s ease-in-out;
  }
  .intro-content__btn:hover {
    background-color: #295DA4;
  }
}
@media screen and (max-width: 1200px) {
  .intro-catalog {
    max-height: 40vh;
  }
  .intro-header__nav {
    margin-top: 45px;
  }
  .intro-header__nav-bar input {
    margin-right: 10px;
    width: 180px;
  }
  .intro-header__nav-bar img {
    width: 26px;
    height: 26px;
  }
}
@media screen and (max-width: 992px) {
  .intro-catalog {
    min-height: 30vh !important;
  }
  .intro-header__info {
    display: none !important;
  }
  .intro-header__nav {
    display: none !important;
  }
  .intro-content {
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    margin-top: 25vh;
    color: #fff;
  }
  .intro-content-catalog {
    margin-top: 5vh;
  }
  .intro-content__title {
    font-size: 54px;
  }
  .intro-content__subtitle {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .intro-content__btn {
    background-color: #223E58;
    font-size: 20px;
    padding: 16px 20px;
    transition: 0.15s ease-in-out;
  }
  .intro-mobile {
    display: flex;
  }
  .intro-mobile__logo {
    max-width: 230px;
  }
  .intro-mobile.active body {
    overflow: hidden;
  }
  .intro-mobile.active span {
    background-color: transparent;
  }
  .intro-mobile.active span::before {
    width: 40px;
    transform: rotateZ(45deg) translateY(0);
  }
  .intro-mobile.active span::after {
    width: 40px;
    transform: rotateZ(-45deg) translateY(0);
  }
  .intro-mobile.active .burger-menu {
    z-index: 1000;
    position: fixed;
    right: 5%;
  }
  .intro-mobile.active .burger-menu span::before, .intro-mobile.active .burger-menu span::after {
    background-color: #295DA4;
  }
  .intro-mobile .mobile__menu {
    padding: 120px 20px;
  }
  .intro-mobile.active .mobile__menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  .intro-mobile.active .mobile__menu .mobile__menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .intro-mobile.active .mobile__menu .mobile__menu__nav a {
    color: #295DA4;
    font-weight: 700;
    font-size: 18px;
  }
  .intro-mobile.active .mobile__menu .mobile__menu__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-mobile.active .mobile__menu .mobile__menu__info a {
    font-size: 16px;
  }
  .intro-mobile.active .mobile__menu a {
    color: #223E58;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .intro-catalog {
    min-height: 5vh;
  }
  .intro-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20vh;
    color: #fff;
  }
  .intro-content-catalog {
    margin-top: 5vh;
  }
  .intro-content__title {
    font-size: 36px;
  }
  .intro-content__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .intro-content__btn {
    background-color: #223E58;
    font-size: 16px;
    padding: 12px 16px;
    transition: 0.15s ease-in-out;
  }
  .intro-mobile__logo {
    max-width: 180px;
  }
}
@media screen and (max-width: 360px) {
  .intro {
    text-align: center;
  }
  .intro-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 35vh;
    color: #fff;
  }
  .intro-content-catalog {
    margin-top: 5vh;
  }
  .intro-content__title {
    font-size: 30px;
  }
  .intro-content__subtitle {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .intro-content__btn {
    font-size: 14px;
    padding: 12px 16px;
  }
  .intro-mobile__logo {
    max-width: 140px;
  }
}
/*# sourceMappingURL=intro.css.map */
