$darkblue: #223E58;
$blue: #295DA4;
$transition: 0.15s ease-in-out;

.footer {
    text-align-last: left;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    a {
        transition: $transition;
        &:hover {
            color: $blue;
        }
    }
    &-logo {
        width: 200px;
    }
    &-phones {
        margin-bottom: 20px;
        img {
            width: 70px;
            margin-right: 10px;
        }
        a {
            margin: 2px 0 2px;
        }
    }
    &-mail {
        img {
            width: 70px;
            margin-right: 10px;
        }
    }

    // --- 1 ----

    &-nav {
       h6 {
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: 600;
       }
       a {
        margin-bottom: 10px;
       }
    }

    &-links {
        margin-bottom: 20px;
        h6 {
            margin-bottom: 10px;
            font-weight: 600;
        }
        a {
            margin-bottom: 5px;
        }
    }


}


@media screen and (max-width: 1400px) {
    .footer {
        padding: 30px 10px;
        color: #fff;
        font-size: 12px;
        &-logo {
            width: 180px;
        }
        &-phones {
            margin-bottom: 10px;
            img {
                width: 35px;
                margin-right: 10px;
            }
            a {
                margin: 0;
            }
        }
        &-mail {
            img {
                width: 35px;
                margin-right: 10px;
            }
        }
    
        // --- 1 ----
    
        &-nav {
           h6 {
            margin-bottom: 10px;
            font-size: 14px;
           }
           a {
            margin-bottom: 6px;
           }
        }
    
        &-links {
            margin-bottom: 10px;
            h6 {
                margin-bottom: 10px;
            }
            a {
                margin-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 10px;
        font-size: 12px;
        &-logo {
            width: 120px;
        }
        &-phones {
            margin-bottom: 10px;
            img {
                width: 30px;
                margin-right: 5px;
            }
            a {
                margin: 0;
                font-size: 10px;
            }
        }
        &-mail {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                margin-right: 5px;
            }
            a {
                font-size: 10px;
            }
        }
    
        // --- 1 ----
    
        &-nav {
           h6 {
            margin-bottom: 6px;
            font-size: 14px;
           }
           a {
            margin-bottom: 2px;
           }
        }
    
        &-links {
            margin-bottom: 10px;
            h6 {
                margin-bottom: 6px;
                font-size: 14px;
            }
            a {
                margin-bottom: 2px;
                font-size: 12px;
            }
        }
    
    
    }

}


@media screen and (max-width: 360px) {
    .footer {
        &-logo {
            width: 100px;
        }
        &-phones {
            margin-bottom: 10px;
            img {
                width: 20px;
                margin-right: 5px;
            }
            a {
                margin: 0;
                font-size: 8px;
            }
        }
        &-mail {
            img {
                width: 20px;
                margin-right: 5px;
            }
            a {
                font-size: 8px;
            }
        }
    
        // --- 1 ----
    
        &-nav {
           h6 {
            margin-bottom: 6px;
            font-size: 10px;
           }
           a {
            margin-bottom: 2px;
            font-size: 8px;
           }
        }
    
        &-links {
            margin-bottom: 10px;
            h6 {
                margin-bottom: 6px;
                font-size: 10px;
            }
            a {
                margin-bottom: 2px;
                font-size: 8px;
            }
        }
    
    
    }

}

